<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <springProperty name="LOGS" source="log.folder" defaultValue="logs" />
    <springProperty name="LOG_FILE" source="log.filename" defaultValue="monitoring"/>

    <springProfile name="develop">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>

        <logger name="com.adennet" level="DEBUG"/>
    </springProfile>

    <springProfile name="!develop">
        <property name="LOG_FILE" value="${LOGS}/${LOG_FILE}.log}"/>
        <include resource="org/springframework/boot/logging/logback/file-appender.xml"/>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>
</configuration>